/* style.css */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}


.container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

#wordle-grid {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex: 1;
    margin: 0 0 5px 0;
    /* Отступ между строками */
}

.row:last-child {
    margin: 0;
    /* Удаление отступа у последней строки */
}

.cell {
    display: flex;
    justify-content: center;
    /* Выравнивание содержимого по горизонтали */
    align-items: center;
    /* Выравнивание содержимого по вертикали */
    flex: 1;
    margin-right: 5px;
    min-height: 1px;
    /* Минимальная высота для видимости без содержимого */
    border: 1px solid;
    border-radius: 3px;
    text-transform: uppercase;
}

.cell:last-child {
    margin-right: 0;
    /* Удаление отступа справа у последней ячейки */
}


#suggestions-container {
    width: 350px;
    text-align: center;
}

#suggestions-count {
    font-weight: 700;
    margin-top: 20px;
}

#suggestions {
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    /* Запрет переноса строк */
    overflow-x: auto;
    /* Горизонтальная прокрутка при необходимости */
    width: 100%;
    /* Занимает всю доступную ширину */
}

.suggestion{
    background-color: aliceblue;
    padding: 10px;
    margin-left: 5px;
    border-radius: 40%;
}


div[data-state="correct"].cell {
    background-color: yellow;
}

div[data-state="present"].cell {
    background-color: rgb(231, 231, 231);
}

div[data-state="absent"].cell {
    background-color: gray;
}


.keyboard {
    display: flex;
    flex-direction: column;
}

.keyboard-row {
    display: flex;
}

.key {
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.key:hover {
    background-color: #e0e0e0;
}

.key:active {
    box-shadow: none;
}